@charset "UTF-8";

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media all {
    body{
        background-color: blanchedalmond;
    }
    
    header {
        color: white;
        text-align: center;
    }
    
    footer {
        text-align: center;
        color: white;
    }
    
    img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    
    div {
        text-align: center;
        padding: 10px
    }
}

@media screen and (min-width: 300px) and (max-width: 780px) {

    section {
        background-color: #fafafa;
        border-radius: 10px;
        margin: auto;
        width: 350px;
        padding: 20px;
        box-shadow: 1px 4px 5px 0.5px #343434b0;
    }

}

@media screen and (min-width: 781px) and (max-width: 2100px){

    section {
        background-color: #fafafa;
        border-radius: 10px;
        margin: auto;
        width: 500px;
        padding: 20px;
        box-shadow: 1px 4px 5px 0.5px #343434b0;
    }

} 