@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 300px) and (max-width: 780px) {
    
    
    body{
        background-color: cornflowerblue ;
        
        
    }
    #card {
        position: absolute;
        width: 80vw;
        height: 50vh;
        background-color: #fafafa;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        padding: 20px 15px;
        box-shadow: 1px 4px 5px 0.5px #343434;
    }

    #dados{
        font-size: 16px;

    }

    #ano {
        border-radius: 3px;
        border-color: lightgray;   
    }

    h1 {
        color: white;
        display: block;
    }

    footer {
        color: white;
    }
}



@media screen and (min-width: 781px) and (max-width: 2100px) {
    body{
        background-color: darkseagreen;
    }

    #card {
        position: absolute;
        width: 80vw;
        height: 50vh;
        background-color: #fafafa;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        padding: 20px 15px;
        box-shadow: 1px 4px 5px 0.5px #343434;
    }

    #ano {
        border-radius: 3px;
        border-color: lightgray;   
    }

    #dados{
        font-size: 18px;

    }

    h1 {
        color: white;
        display: block;
    }

    footer {
        color: white;
    }
}